form {
  grid-area: 1 / 1 / span 2 / span 3;
  justify-content: space-between;
}

input {
  height: 12%;
  width: 85%;
  margin: 5px;
}

input:focus {
  border-color: #5390d9; /* Change to your desired focused color */
  background-color: #f0f0f0; /* Change to your desired background color */
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  margin: 5px;
}

.smb {
  display: flex;
  justify-content: flex-end;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 6;
  min-width: 200px;
}
.cell-one {
  min-width: 200px;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #5390d9;
}
.cell-two {
  min-width: 200px;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: #48bfe3;
}
.cell-three {
  min-width: 200px;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: #64dfdf;
}

.season-selector {
  grid-column: 4 /5;
  grid-row: 6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.season-selector > div {
  margin-right: 10px;
}
.season-selector > label {
  justify-content: space-around;
  margin: 5px;
}

.season-selector label,
.season-selector select {
  vertical-align: middle;
}

.season-selector .random-one {
  justify-self: center;
  align-self: self-start;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.random-one,
.random-two,
.random-three {
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  width: 80%;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 0 20px 20px 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.random-one.random-one:active,
.random-two:active,
.random-three:active {
  animation: shake 0.4s linear infinite;
}

/*Make animation run on click instead of on active?*/

.random-one:hover,
.random-two:hover,
.random-three:hover {
  background-position: 100% 0;
  transition-property: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  transform: translate(10px);
  /* animation: shake 0.4s linear infinite; */
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.random-one:focus,
.random-two:focus,
.random-three:focus {
  outline: none;
}
.random-two {
  justify-self: center;
  align-self: self-start;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}
.random-three {
  justify-self: center;
  align-self: self-start;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
}

.submit-btn {
  width: 100%;
}

.winter {
  .cell-one {
    background: linear-gradient(#e3f2fd, 20%, #bbdefb);
  }
  .cell-two {
    background: linear-gradient(#90caf9, 20%, #64b5f6);
  }
  .cell-three {
    background: linear-gradient(#2196f3, 20%, #6930c3);
  }
}

.spring {
  .cell-one {
    background: linear-gradient(#eaedc9, 20%, #edeec9);
  }
  .cell-two {
    background: linear-gradient(#dde7c7, 20%, #bfd8bd);
  }
  .cell-three {
    background: linear-gradient(#98c9a3, 20%, #77bfa3);
  }
}
.summer {
  .cell-one {
    background: linear-gradient(#ffea00, 80%, #ffee33);
  }
  .cell-two {
    background: linear-gradient(#ffd000, 80%, #ffb700);
  }
  .cell-three {
    background: linear-gradient(#ffa200, 80%, #ff7b00);
  }
}

.autumn {
  .cell-one {
    background: linear-gradient(#f7b538, 80%, #db7c26);
  }
  .cell-two {
    background: linear-gradient(#da7527, 80%, #d8572a);
  }
  .cell-three {
    background: linear-gradient(#c32f27, 80%, #780116);
  }
}
/* winter colors #6930C3, #5390D9, #48BFE3, #64DFDF, #80FFDB */
/* spring colors #ADD2C2, #A7D3A6, #CFE795, #F7EF81, #D4C685 */
/* fall colors #C32F27, #D8572A, #DA7527,#DB7C26, #F7B538, #780116 */
/* summer colors #FF7B00 #FFA200 #FFB700 #FFD000 #FFEA00 */
