li {
  list-style: none;
}

.poems-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0;
  padding: 0;
}

.write-haiku {
  color: mediumslateblue;
  text-decoration: underline;
  font-weight: 200;
}
ul {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 12px 10px 18px black;
}

.link-div {
  display: flex;
  justify-content: center;
  font-size: x-large;
}

.link-div img {
  height: 32px;
}
