.sprite-parent {
  display: flex;
  justify-content: center;
  width: 1400px;
}

.sprite {
  margin: 50px;
  height: 345px;
  width: 460px;
  border: solid gray 2px;
  /* border-radius: 100%; */
  background: url(../../../public/sheet.png);
  /* background-color: gainsboro; */
  /* need to remove background noise from images */
  animation: sprite 2s steps(4) infinite;
}

@keyframes sprite {
  from {
    background-position: 0px;
  }
  to {
    background-position: -1800px;
  }
  /* 100% {
    background-position: -1800px;
  } */
}
