@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&display=swap');

* {
  box-sizing: border-box;
}

body {
  --color1: dodgerblue;
  --color2: #0d0c48;
  --color3: #f4ecdf;
  --color4: #68cc8b;
  --color5: green;
  background-color: var();
  color: var();
  cursor: default;
  display: flex;
  font-family: 'Oswald', sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}
button {
  cursor: pointer;
}
