@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&display=swap');

* {
  box-sizing: border-box;
}

body {
  --color1: dodgerblue;
  --color2: #0d0c48;
  --color3: #f4ecdf;
  --color4: #68cc8b;
  --color5: green;
  background-color: var();
  color: var();
  cursor: default;
  display: flex;
  font-family: 'El Messiri', sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}
button {
  cursor: pointer;
}
/* .App {
  color: var(--text-primary);
  background-color: var(--background);
  font-size: large;
  font-weight: bold;
  padding: 20px;
  height: calc(100vh - 40px);
  transition: all 0.5s;
}
button {
  color: var(--text-primary);
  background-color: var(--background);
  border: 2px var(--text-primary) solid;
  float: right;
  transition: all 0.5s;
} */
